h1, h2, h3 {
    font-family: 'Bungee Spice', sans-serif;
    font-size: 4rem;
}
h5 {
    font-family: 'Bungee Spice', sans-serif;
    font-size: 2rem;
}
h6 {
    font-family: 'Bungee Spice', sans-serif;
    font-size: 0.5rem;
}
a {
    font-weight: bold;
    font-size: 1.2rem;
    color: orange; 
    text-decoration: none; 
}

a:hover {
    color: red; 
    text-decoration: underline;
}

body {
    font-family: 'Cinzel', serif;
    text-align: center;
    background-image: url("lava1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-color: black;
    color: orange;
    margin-top: 5%;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}

.button2 {
    background-color: #FF0000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button2:hover {
    background-color: #0056b3;
}

input {
    padding: 5px;
    font-size: 1rem;
}

#progressBarContainer {
    width: 80%;
    margin: 50px auto;
    background-color: #333;
    border-radius: 25px;
}

#progressBar {
    width: 0;
    height: 50px;
    background-color: orange;
    border-radius: 25px;
}

#countdown {
    font-size: 2rem;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
    #progressBarContainer {
        width: 95%;
    }
}
@keyframes forge-glow {
  0%, 100% {
    filter: drop-shadow(0 0 1px #ff6f00) drop-shadow(0 0 2px #ff9000);
  }
  50% {
    filter: drop-shadow(0 0 6px #ffaa00) drop-shadow(0 0 10px #ff6f00);
  }
}
#forge-text {
  animation: forge-glow 3s infinite ease-in-out;
}
#forge-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px; 
}
footer {
  margin-top: 30px;
}

